﻿@model DVDGuru.Web.Models.AddEditDVDVM

@{
    ViewBag.Title = "Add";
}



<div class="row">
    <div class="col-xs-6">
        <h1>DVD Guru: Add DVD</h1>
        <form action="/DVD/Add" method="post" id="addEditForm">
            @Html.HiddenFor(m=>m.DVD.Available)

            @*@Html.ValidationSummary()*@
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.Title)</p>
                <label class="control-label">Title</label>
                @Html.TextBoxFor(m => m.DVD.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.ReleaseDate)</p>
                <label class="control-label">Release Date</label><br/>
                @Html.TextBoxFor(m => m.DVD.ReleaseDate, new { @class = "form-control", type = "date" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.MPAARatingID)</p>
                <label class="control-label">MPAA Rating</label>
                @Html.DropDownListFor(m => m.DVD.MPAARatingID, Model.MPAARatingList, "-SELECT-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.DirectorNames)</p>
                <label class="control-label">Director</label>
                @Html.TextBoxFor(m => m.DVD.DirectorNames, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.StudioName)</p>
                <label class="control-label">Studio</label>
                @Html.TextBoxFor(m => m.DVD.StudioName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.UserRatingID)</p>
                <label class="control-label">User Rating</label>
               @Html.DropDownListFor(m => m.DVD.UserRatingID, Model.UserRatingList, "-SELECT-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.ActorNames)</p>
                <label class="control-label">Actors</label>
                @Html.TextAreaFor(m => m.DVD.ActorNames, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>@Html.ValidationMessageFor(d => d.DVD.UserNote)</p>
                <label class="control-label">Note</label>
                @Html.TextAreaFor(m => m.DVD.UserNote, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning btn-large" })
        </form>
    </div>
</div>

@section Scripts{
<script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
<script src="~/Scripts/app/jquery-default-validation.js"></script>
<script src="~/Scripts/app/addEditValidation.js"></script>
    }
