﻿@model DVDGuru.Data.Models.DVD
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<head>
<title>DVDGuru: Details</title>
</head>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
        <h3>@Model.Title</h3>
            <p>Release Date: @Model.ReleaseDate.ToString("MM-dd-yyyy")</p>
            <p>Studio: @Model.StudioName</p>
            <p>Actors: @Model.ActorNames</p>
            <p>Director: @Model.DirectorNames</p>
            <p>User Note: @Model.UserNote</p>
            <p>MPAA Rating: @Model.MPAARating.MPAARatings</p>
            <p>User Rating: @for (int i = 0; i < Model.UserRating.Stars; i++)
            {        
                <img src="~/images/star_PNG1592.jpg" />
            } @Model.UserRating.Description </p> 
            @Html.ActionLink("Edit", "Edit", "DVD", new { id = Model.DVDID }, null)
        </div>
    </div>
</div>