﻿@model DVDGuru.Web.Models.AddEditDVDVM
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<head>
    <title>DVDGuru: Edit</title>
</head>

<div class="container">
    <div class="row">
        <h3>@Model.DVD.Title</h3>
        <div class="col-xs-6">
            @using (Html.BeginForm("Edit", "DVD", FormMethod.Post, new { id = "addEditForm" }))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(m=>m.DVD.Available)

                @Html.HiddenFor(m=>m.DVD.DVDID)
                <div class="form-group">
                    <label class="control-label">Title</label>
                    @Html.TextBoxFor(m=>m.DVD.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Release Date</label>
                    @Html.TextBoxFor(m => m.DVD.ReleaseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", name = "date" })
                </div>
                <div class="form-group">
                    <label class="control-label">MPAA Rating</label>
                    @Html.DropDownListFor(m => m.DVD.MPAARatingID, Model.MPAARatingList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Directors</label>
                    @Html.TextBoxFor(m => m.DVD.DirectorNames, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Studio</label>
                    @Html.TextBoxFor(m => m.DVD.StudioName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">User Rating</label>
                    @Html.DropDownListFor(m => m.DVD.UserRatingID, Model.UserRatingList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Actors</label>
                    @Html.TextBoxFor(m => m.DVD.ActorNames, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Note</label>
                    @Html.TextAreaFor(m => m.DVD.UserNote, new { @class = "form-control" })
                </div>
                <button class="btn btn-primary">Save</button>
                @Html.ActionLink("Cancel", "Index","Home", null, new { @class = "btn btn-warning btn-large"})
            }
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/Scripts/app/jquery-default-validation.js"></script>
    <script src="~/Scripts/app/addEditValidation.js"></script>
}