﻿@model DVDGuru.Web.Models.BorrowerVM

@{
    ViewBag.Title = "Lend";
}

<div class="row">
    <div class="col-xs-6">
       
            <h1>DVD Guru: Lend DVD</h1>
            <h3>@Model.DVD.Title</h3>
        
        @using (Html.BeginForm("Lend", "DVD", FormMethod.Post, new { NewBorrower = Model }))
        {
            @Html.HiddenFor(m => m.DVD.DVDID)
            @Html.HiddenFor(m=>m.Borrower.BorrowerID)
            <div class="form-group">               
                <label class="control-label">First Name</label>
                @Html.TextBoxFor(d => d.Borrower.FirstName, new { @class = "form-control" })
                <label class="control-label">Last Name</label>
                @Html.TextBoxFor(d => d.Borrower.LastName, new { @class = "form-control" })
                <label class="control-label">Borrowed Date</label>
                <br />
                @Html.TextBoxFor(d => d.LoanTime.LoanDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <button class="btn btn-primary">Save</button>
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-warning btn-large" })
            </div>
        }

    </div>
</div>


