﻿@model List<DVDGuru.Data.Models.DVD>
@{
    ViewBag.Title = "Search";
}

<h1>Search</h1>

<div class="row">
    <div class="col-xs-12">
        @if (Model.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>MPAA Rating</th>
                        <th>Stars</th>
                        <th>Availability</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var DVD in Model)
                    {
                        <tr>
                            <td> @Html.ActionLink(DVD.Title, "Details", "DVD", new { id = DVD.DVDID }, null) </td>
                            <td> @DVD.ReleaseDate.ToString("MM-dd-yyyy") </td>
                            <td> @DVD.MPAARating.MPAARatings </td>
                            <td>
                                @for (int i = 0; i < DVD.UserRating.Stars; i++)
                                {
                                    <img src="~/images/star_PNG1592.png" />
                                }
                            </td>
                            <td>
                                @if (DVD.Available == true)
                                {
                                    @Html.ActionLink("Lend", "Lend", "DVD", new { id = DVD.DVDID }, null)
                                }
                                else
                                {
                                    <form action="@Url.Action("Received","DVD", new { id = DVD.DVDID })" method="post">
                                        <button class="btn btn-link" onclick="return confirm('Are you sure you received @DVD.Title?');">Received</button>
                                    </form>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "DVD", new { id = DVD.DVDID }, null)
                            </td>
                            <td>
                                <form action="@Url.Action("Delete","DVD", new {id = DVD.DVDID})" method="post">
                                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @DVD.Title');">X</button>
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
</div>